{% extends "base.html" %}
{% load thumbnail %}
{% block title %} OT | {{ competitor.first_name }}{% endblock  %}

{% block content %}
{% include "navbar.html" %}
<div class="detail-container">
    <img src="{% thumbnail competitor.avatar 300x300 %}" class="detail-avatar">
    <div class="detail-info">
        <p class="name">{{ competitor.first_name }} {{ competitor.last_name }}</p>
        <p>Fecha de nacimiento: {{ competitor.birthdate|date:"d/m/o" }}</p>
        <p>Trabajo: {{ competitor.job }}</p>
        <p>Hobby: {{ competitor.hobbies }}</p>
        <p>Ciudad: {{ competitor.city }}</p>
        <p>Estilo de músic:
        {% for music in competitor.music_styles.all %}
        {{ music.name }}
        {% endfor %}
    </div>
</div>
{% endblock %}